<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
    <title>Edit Profile</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li class="nav-item">
                    <h1><a href="/books">The Book Club</a></h1>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/{{request.session.user_id}}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <form action='/users/{{user.id}}/update' method='post'>
            {% csrf_token %}
            <fieldset>
                <legend>Edit Profile</legend>
                <div>
                    <label for="first_name">First Name</label>
                    {% if messages %}
                    {% for msg in messages %}
                    {% if msg.extra_tags == 'bad_first' %}
                    <p class="error">{{msg}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type='text' value="{{user.first_name}}" name='first_name'>
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    {% if messages %}
                    {% for msg in messages %}
                    {% if msg.extra_tags == 'bad_last' %}
                    <p class="error">{{msg}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type='text' value="{{user.last_name}}" name='last_name'>
                </div>
                <div>
                    <label for="email">Email</label>
                    {% if messages %}
                    {% for msg in messages %}
                    {% if msg.extra_tags == 'bad_email' or msg.extra_tags == 'dup_email' %}
                    <p class="error">{{msg}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type='text' value="{{user.email}}" name='email'>
                </div>
                <div>
                    <label for="password">Password</label>
                    {% if messages %}
                    {% for msg in messages %}
                    {% if msg.extra_tags == 'bad_pw' %}
                    <p class="error">{{msg}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type='password' name='password'>
                </div>
                <div>
                    <label for="pwconf">Confirm PW</label>
                    {% if messages %}
                    {% for msg in messages %}
                    {% if msg.extra_tags == 'bad_pwconf' %}
                    <p class="error">{{msg}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type='password' name='pwconf'>
                </div>
                <button>Save Changes</button>
                <a class="button cancel" href="/users/{{user.id}}">Cancel</a>
            </fieldset>
        </form>
    </div>
</body>

</html>